<div>
    <h2>IL CLAN DELLA TORRE</h2>
</div>
<div class="page_content">
    Accanto alle Unità (Branchi per Lupetti/e, Reparti per Esploratori ed Esploratrici, Compagnie per i/le Rover) e ai loro Capi educatori, all’interno della Sezione esiste anche il <strong>CLAN DELLA TORRE</strong>, di cui fanno parte i <strong>Senior</strong>.
</div>
<div class="page_content">
    I Senior sono persone maggiori di 18 anni, giovani adulti, genitori, ex-scout, ex-Capi, adulti, che non si occupano di educazione diretta verso i giovani, ma hanno il compito di essere un reale supporto alle attività delle Unità in quelle operazioni materiali indispensabili per permettere ai capi educatori di svolgere il loro compito con più serenità, alleggeriti dai incombenze logistiche che appesantirebbero notevolmente il loro lavoro.
</div>
<div class="page_content">
    Il CLAN è quindi un fondamentale supporto logistico e materiale alle esigenze della Sezione, e ha anche il compito di mantenere in efficienza le sedi dei Gruppi, di aiutare i Gruppi negli spostamenti di materiali, di supportare con servizi di cucina e logistica i campi invernali ed estivi, di partecipare con la propria esperienza all’organizzazione dell’accoglienza per convegni e iniziative sul territorio di competenza.
</div>
<div class="page_content">
    Il CLAN per poter fare tutto questo, ma anche per svolgere delle proprie attività di confronto su varie tematiche scout e non, ha necessità di riunirsi regolarità, una sera al mese nelle sedi dei Gruppi.
</div>
<div class="page_content">
    Il CLAN è coordinato da un Coordinatore Senior che ne convoca le riunioni e ne propone l’ordine del giorno, fa da collegamento con la Sezione, e gestisce i servizi da prestare alle Unità o alla Sezione tutta.
</div>
<div class="page_content">
    I Senior non hanno incarichi fissi e specifici, bensì tanta voglia di fare, voglia di confrontarsi e sperimentarsi nelle cose che ci sono da fare nel corso dei mesi. E’ un gruppo numeroso e variegato di persone con le più svariate competenze e capacità, qualcuno è più bravo in cucina, altri prediligono il giardinaggio, altri sanno fare lavori di muratura, falegnameria, logistica, altri hanno semplicemente del tempo da dedicare e voglia di dare una mano anche mettendo a disposizione la loro auto o furgone per trasportare del materiale ma tutti sono uniti dallo spirito di servizio rivolto ai ragazzi e alle ragazze, i i fruitori e le fruitici di tutte le attività educative dello scoutismo.
</div>