:host{
    display: contents;
}

::ng-deep .mat-toolbar{
    background-color: rgba(41, 41, 41, 0) !important;
  -webkit-backdrop-filter: blur(5px);
  color: white !important;
  box-shadow: none;
  padding: 1rem 2rem;
}

::ng-deep .mat-icon-button,
::ng-deep .mat-icon {
  color: white !important;
}


.chiSiamoUl {
  display: none;
  position: absolute;
  background-color: rgba(41,41,41,0.4);
  color: white;
  list-style: none;
  margin-top: 1.75rem;
  padding: 0.5rem;
  border-radius: 6px;
  z-index: 100;
}

.chiSiamoUl.visible {
  display: block;
}


.dropdown {
  position: relative;
}

.contributiWrapper{
  position: relative;
  display: inline-block;
}

.contributiUl {
  display: none;
  position: absolute;
  top: 0;
  left: 100%; /* accanto al bottone */
  white-space: nowrap;
  background-color: rgba(41,41,41,0.4);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  z-index: 100;
  list-style: none;
  margin-left: 0.5rem;
}

.contributiUl.visible {
  display: block;
}


button{
  color:white !important;
}