<mat-grid-list cols="2">
<mat-grid-tile>
    <swiper-container slides-per-view="1" autoplay-delay="3000">
        <swiper-slide *ngFor="let article of articles.slice(0,4)">
            <mat-card class="article-card">
                <mat-card-header>
                    <mat-card-title>{{article.title}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <img mat-card-image [src]="article.image" alt="{{article.title}}">
                </mat-card-content>
                <mat-card-actions>
                    <button mat-filled-button>LEGGI L'ARTICOLO</button>
                </mat-card-actions>
            </mat-card>
        </swiper-slide>
    </swiper-container>
</mat-grid-tile>
<mat-grid-tile>
    <div class="articoli-recenti">
        <h2>Articoli recenti</h2>
        <ul>
            <li *ngFor="let article of articles.slice(0,10)">{{ article.title }}</li>
        </ul>
    </div>
</mat-grid-tile>
</mat-grid-list>