<div>
    <h2>GRUPPI</h2>
</div>
<div class="page_content">
  <p>Nel territorio fiorentino il CNGEI è presente con <strong>sei</strong> <strong>gruppi</strong>. Ogni gruppo ha tre “unità”: branco (età 8-11), reparto (12-15), compagnia (16-19).</p>

  <dl>
    <ng-container *ngFor="let gruppo of gruppi">
        <dt><strong>{{gruppo.nome}}</strong></dt>
        <dd>{{gruppo.descrizione}}</dd>
    </ng-container>
  </dl>

  <p>Tutti i gruppi sono autonomi dal punto di vista organizzativo e coordinati da un <strong>Capo Gruppo</strong> che ne è il responsabile.</p>

  <p>Per informazioni ed iscrizione è comunque necessario fare riferimento alla <a [routerLink]="['/iscrizioni']">segreteria</a>.</p>
</div>

<h3 class="strong_clan">
  Per poter dare un buon contributo alla sezione il CLAN ha bisogno di essere numeroso!
</h3>
<div class="page_content">
  <strong>Se sei un/a giovane adulto/a o un genitore o un/a adulto/a e se leggendo queste poche righe ti fosse venuta un po’ di curiosità e voglia di sapere cosa fa il Clan, manda una mail al 
    Coordinatore Senior AGGIUNGERE IL MAILTO
    e, se vorrai, magari ci incontreremo in una riunione per vedere e capire più da vicino, per conoscere meglio il mondo scout e dare una mano concreta a questa realtà, dove l’impegno personale trova la più bella delle soddisfazioni, il grazie dei bambini e delle bambine, dei ragazzi e delle ragazze che anche grazie al tuo tempo e al tuo operato hanno potuto realizzare la loro attività scout.</strong>
</div>