swiper-container {
  width: 100%;
  height: 300px;
  display: block;
}

swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: #ddd;
}
mat-grid-tile {
  display: flex;
  flex-direction: column;
}

.articoli-recenti{
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 1px;
}