<div>
    <h2>LA SEZIONE</h2> 
    <div>
        <!-- Immagine della sezione -->
         <img src="assets/images/sezione-anfiteatro.jpg" class="sezione-image">
    </div>
    <div class="sezione-text">
        <p>La sezione CNGEI di Firenze conta circa <strong>600 iscritti</strong> tra soci adulti (capi e Senior) e soci giovani, cioè ragazzi in percorso educativo tra gli 8 e i 19 anni.</p>

        <p>Per il suo funzionamento, conformemente allo Statuto, la Sezione si avvale di alcuni organi eletti dall’assemblea di tutti i soci maggiorenni ogni tre anni. Essi sono il Presidente, il Commissario, il Comitato di Sezione e il Collegio dei revisori dei conti.</p>

        <p>Il <strong>Presidente</strong> è il legale rappresentante della sezione, con poteri di nomina definiti dallo statuto, di controllo e di coordinamento. Convoca e presiede il <strong>Comitato di Sezione</strong>, costituito da sette consiglieri eletti tra tutti i soci maggiorenni della sezione e preposto all’attuazione delle decisioni assembleari, all’amministrazione e al coordinamento di tutte le attività della sezione.</p>

        <p>Il <strong>Commissario di Sezione</strong> è il responsabile educativo della Sezione. Propone la nomina dei Capi Gruppo e, all’interno di ciascun gruppo, quella dei capi e vice capi unità. Insieme ai Capi Gruppo e al Coordinatore Senior costituisce il <strong>Consiglio di Sezione,</strong> organo di coordinamento dell’attività tra i gruppi dislocati sul territorio e, soprattutto, di progettazione educativa dell’intera Sezione.</p>

        <p><strong>Presidente:</strong> Lorenzo Ferri</p>
        <p><strong>Commissario:</strong> Giacomo Borri</p>
        <p><strong>Comitato di Sezione:</strong> Anna Maria Testi, Elisa Lippi, Roberto Ceccatelli, Eleonora Evaristi, Elisa Perini, Giuseppe Panza, Patrizia di Cataldo</p>
    </div>
</div>