.sezione-image{
    max-width: 100%;
    height: auto;
    width: 75%;
    display: block;
    margin: 0 auto;
}

.sezione-text{
    text-align: justify;
  line-height: 1.6; /* migliora la leggibilità */
  font-size: 1rem;
  max-width: 700px; /* larghezza massima, per una migliore lettura */
  margin: 1em auto; /* margine verticale e centratura orizzontale */
  color: #333; /* un grigio scuro più piacevole del nero puro */
}