<div>
    <h2>STORIA</h2>
</div>
<div>
    <h3>Costituita nel 1922, la Sezione di Firenze (come tutto il movimento scout in Italia) nel 1927 sospese le sue attività a causa delle pressioni, dei vincoli e delle restrizioni imposte dal regime fascista. Durante questo periodo, ricordato come “Giungla silente”, come in altre città, gli esploratori continuarono l’attività sotto la denominazione di copertura del Gruppo Escursionisti Indipendenti</h3>

        <img src="assets/images/storia_1.jpg">
    <h3>La nostra Sezione è così cresciuta riuscendo ad aprire, ad oggi, sei gruppi, con l’obiettivo di essere presenti in vari quartieri e realta’ sociali della nostra citta’ e dintorni. La Sezione ha ospitato per anni il Gruppo di Pistoia che da qualche anno si è costituito come Sezione indipendente.</h3>

        <img src="assets/images/storia_2.jpg">

    <h3>In altre occasioni siamo anche usciti dalle mura delle nostra città per offrire il nostro aiuto (dal lavoro manuale a quello di animazione per i bambini) in occasione delle calamità naturali che hanno colpito l’Italia: durante il terremoto dell’Irpinia, l’alluvione del Biellese, il disastro di Sarno, o in occasione del terremoto del Friuli, di quello in Umbria, e, di recente, in Abruzzo.</h3>

        <img src="assets/images/storia_3.jpg">

    <h3>Nell’autunno del 1944, con la caduta del regime, la Sezione di Firenze fu prontamente ricostituita. A poco a poco cominciarono ad arrivare i “Boy Scout”, ragazzi o adulti che, venuti a conoscenza dei principi morali e dei contenuti educativi, di rapporto con la natura, di opportunità di crescita del nostro movimento, sono entrati a farne parte attivamente.</h3>

        <img src="assets/images/storia_4.jpg">

    <h3>Abbiamo sempre cercato di dare un senso alla nostra presenza sul territorio promuovendo e partecipando con i ragazzi alle attività dei vari quartieri e dei comuni di Firenze, Bagno a Ripoli e Sesto Fiorentino, ma anche dando il nostro aiuto quando purtroppo c’è ne stato bisogno, a cominciare dall’alluvione di Firenze del ’66, ma anche in altre occasioni più recenti come l’alluvione a Campi Bisenzio.</h3>
</div>
